venv/
data/
src/helpers/delete_imgs.py
src/legado/cnnTrain/temp_dataset
src/legado/vggAnnotation/soja_detector_model.keras
src/legado/multiDetectionV1/soja_detector_model.keras
*keras
runs/src/legado/yoloDetectionV1/yolov8l.pt
/system/processed_videos/

.idea/

__pycache__/
*.pyc
*pyo
*pyd